*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #1B263B;
}
.container{
     border: 1px solid #415A77;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh; 
     width: 95%;
     margin: auto ;
}
.count{
    border: 5px solid black;
    width: 600px;
    height:350px ;
    margin: auto;
    padding: 25px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#778DA9;
}
.count h1{
    font-size: 2rem;
    
}
#count{
    font-size: 5rem;
    
}
